html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

/*===================*/
/* Navbar custom css */
/*===================*/

.navbar,
.navbar-dropdown {
    background-color: hsl(171, 100%, 41%) !important;
}

.navbar-item:hover,
.navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link,
.navbar-dropdown a.navbar-item:hover {
    background-color: hsl(171, 93%, 39%) !important;
}

a.navbar-brand-title:hover {
    color: inherit;
}

.navbar-item img {
    max-height: 32px;
    margin-top: 6px;
    padding: 0 10px;
}

a.navbar-brand-title {
    font-size: 30px;
}

/*===================*/
/* Footer custom css */
/*===================*/
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background-color: whitesmoke;
}

/*======================*/
/* Container custom css */
/*======================*/

@media (min-width: 1024px) {
    .app-container {
        padding: 40px 100px;
    }
}

@media (max-width: 1024px) {
    .adds-top {
        padding-top: 50px;
    }
}

.adds-top {
    padding-bottom: 50px;
}

.adds-number {
    margin-right: 30px;
    padding: 0 10px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    background-color: hsl(171, 100%, 41%) ;
}

.truck-adds-grid > .columns{
    background-color: whitesmoke;
    padding: 20px 20px;
}

.truck-adds-grid > .columns > .column:hover {
    background-color: rgba(197, 205, 205, 0.6);
}

 .truck-adds-grid a, .truck-adds-grid a:hover {
    color: hsl(171, 93%, 39%);
}

 .adds-title {
     font-size: 20px;
     font-weight: 600;
 }

/*=================*/
/* Adds custom css */
/*=================*/

.adds-select-box {
     min-width: 200px;
 }

.adds-input {
    max-width: 200px !important;
}

.adds-dimension-input {
    width: 40%;
}

.add-date-input {
    max-width: 110px;
}